// Place all the styles related to the oauth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  width: 100%;
  padding:0;
}
body {
  text-align: center;
}
#twitch_name_submit_container {
  form {
    display: inline-block;
  }
}